<body class="{{body_class}} nav-closed">

  {{!-- The blog navigation links --}}
  {{navigation}}

  <div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The tiny footer at the very bottom --}}
    <footer class="site-footer clearfix">
      <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
      </section>
      <section class="poweredby">Powered by <a href="https://github.com/PoeticThemes/boo">Boo + Ghost</a>
      </section>
    </footer>

  </div>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
  {{!-- Fitvids makes video embeds responsive and awesome --}}
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  {{!-- The main JavaScript file for Casper --}}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
  {{!-- Script to detect mobile devices --}}
  <script src="https://cdn.jsdelivr.net/mobile-detect.js/1.3.3/mobile-detect.min.js"></script>
  {{!-- Script to detect when images have been downloaded --}}
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
  {{!-- Script for the new Koenig editor --}}
  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
    })
    window.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre[class*=language-]').forEach(function (node) {
        node.classList.add('line-numbers');
      });
      Prism.highlightAll();
    });
  </script>

</body>